<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/admin/" />
    <title>StackStore Admin</title>
    <link rel="stylesheet" type="text/css" href="/admin.css" />
    <link rel="stylesheet" type="text/css" href="/css/datatables.bootstrap.min.css" />
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/datatables.net/js/jquery.dataTables.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/js/angular-datatables.min.js"></script>
    <script src="/js/angular-datatables.bootstrap.min.js"></script>
    <script src="/js/fsa/fsa-pre-built.js"></script>
    <script src="/js/admin/app.js"></script>
    <script src="/js/admin/dashboard/dashboard.js"></script>
    <script src="/js/admin/common/directives/admin-navbar/admin-navbar.js"></script>
    <script src="/js/admin/common/datatables.js"></script>
  </head>
  <body class="admin" ng-app="StoreAdmin">
    <nav class="navbar navbar-inverse navbar-static-top" style="margin-bottom: 0;"></nav>
    <div class="page-wrapper">
      <div class="container-fluid">
        <ui-view></ui-view>
      </div>
    </div>
  </body>
</html>