.cart-table {
  margin-bottom: 0;
  thead {
    tr {
      th {
        background-color: #eee;
        padding: 0;
        height: 55px;
        vertical-align: middle;
        text-align: left;
        font-size: 15px;
        color: $text-color;
        padding-left: 20px;
        border-right: 1px solid rgba(255,255,255,0.2);
        border-bottom: none;
      }
    }
  }
  tbody {
    tr {
      border-left: 5px solid #f0f0f0;
      border-right: 5px solid #f0f0f0;
      td {
        @include clearfix();
        vertical-align: middle;
        text-transform: uppercase;
        border-bottom: 3px solid #f0f0f0;
        border-top: none;
        padding: 10px;
        padding-left: 20px;
        .close {
          display: inline-block;
          float: left;
          font-size: 35px;
          margin-right: 30px;
          color: $brand-danger;
          opacity: 1;
          line-height: 60px;
          font-weight: normal;
        }
        .image {
          display: inline-block;
          float: left;
          height: 50px;
          margin: 5px 0;
          width: auto;
        }
        input {
          width: 70px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          color: $text-color;
          border: 1px solid #e4e4e4;
        }
      }
    }
  }
}
.update-cart,
.cart-total,
.checkout-button {
  padding: 20px 30px;
  border-left: 3px solid #f0f0f0;
  border-right: 3px solid #f0f0f0;
  border-bottom: 3px solid #f0f0f0;
}
.update-cart {
  @include clearfix();
  .btn {
    padding: 0 20px;
    line-height: 36px;
    float: right;
    text-transform: uppercase;
    font-size: 13px;
    height: 40px;
    background-color: #ffffff;
    border: 2px solid #d0d0d0;
  }
  .input-group {
    width: 435px;
    float: left;
    margin-bottom: 0;
    .form-control {
      height: 40px;
      background-color: #ffffff;
      border: 2px solid #d0d0d0;
      width: 285px;
      margin-right: 10px;
      border-color: #e4e4e4;
      box-shadow: none;
    }
    .input-group-addon {
      width: 140px;
      float: left;
    }
  }
}
.cart-total {
  ul {
    padding-left: 0;
    list-style: none;
    li {
      text-align: right;
      margin: 10px 0;
      font-size: 14px;
      span {
        width: 108px;
        display: inline-block;
        color: #888888;
        &.grand-total {
          color: #252525;
        }
      }
    }
  }
}
.checkout-button {
  @include clearfix();
  margin-bottom: 20px;
  .btn {
    width: 196px;
    height: 45px;
    padding: 0 20px;
    line-height: 45px;
    float: right;
  }
}
.no-cart {
  @extend .lead;
  text-align: center;
  margin: 0;
}