<section class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Products</li>
    </ol>
  </div>
</section>
<main>
  <div class="container">
    <div class="row">
      <aside class="col-md-2 sidebar">
        <br>
        <div class="list-group">
          <a ng-repeat="category in categories" ng-click="filterByCategory(category.id)" class="list-group-item">{{ category.name }}</a>
        </div>
      </aside>
      <div class="col-md-10">
        <div class="section-header">
          <h1 class="title pull-left">All Products</h1>
        </div>
        <product-list products="products"></product-list>
      </div>
    </div>
  </div>
</main>