body {
	font-weight: 400;
}
.container-fluid {
	max-width: 1170px;
}
.show-on-hover {
	@include max-width($grid-float-breakpoint-max) {
		&:not(.open)>.dropdown-menu, &:not(.open):hover>.dropdown-menu {
			display: none;
		}
	}
	&:hover>.dropdown-menu {
		display: block;
	}
}
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}