<a ui-sref="product({id: product.id})" class="product-archive-item">
  <div class="image">
    <div class="image-centered">
      <img ng-src="{{product.image}}" alt="{{product.name}}">
    </div>
  </div>
  <p class="title">{{product.name}}</p>
  <div class="price">
    <!-- @TODO: separate price into decimal -->
    <span class="amount"><sup>$</sup>{{product.price}}<sup>00</sup></span>
    <!-- <span class="label">On Sale</span> -->
  </div>
  <div ng-show='notEnoughReviews'>
  <span> Add a review! </span>
  </div>
  <div class="reviews" ng-show='!notEnoughReviews'>
    Avg. Rating:
    <span class="stars">
      <i class="fa fa-star" ng-repeat='i in getNumber(avgRating) track by $index'></i>
    </span>
<!--     <p>
      <span class="number"> {{product.reviews.length}} Review<span ng-show='product.reviews.length>1'>s</span> </span>
    </p>
 -->  </div>
</a>
<!-- Added add to cart on product-single view -->
<!-- <button ng-click="addToCart(product)" class='btn btn-primary'>Add To Cart</button> -->