.site-header {
  background: $brand-danger;
  @include clearfix();
  .logo {
    display: block;
    padding: 33px 0;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    &:hover, &:focus {
      text-decoration: none;
    }
    @include min-width($screen-sm-min) {
      float: left;
    }
  }
  .header-right {
    margin: 15px 0;
    @include min-width($screen-sm-min) {
      float: right;
    }
    .meta-links {
      text-align: right;
      color: white;
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 15px;
      span {
        display: inline-block;
        margin-left: 20px;
      }
      a {
        font-weight: 400;
        color: white;
      }
    }
  }
  .search {
    width: 100%;
  }
  .btn-cart {
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -webkit-appearance: none;
    font-size: 17px;
    background-color: rgba(#000, 0.20);
    color: white;
    padding: 8px 20px;
    border-color: transparent;
    border-image: initial;
    border-radius: 2px;
    transition: background-color 0.2s ease-out;
    line-height: 26px;
    vertical-align: top;
    i {
      margin-right: 8px;
    }
    &:hover, &:focus {
      background-color: rgba(#000, 0.30);
    }
  }
}
.header-row {
  @include make-row(10px);
}
.header-col-7 {
  @include make-xs-column(12, 10px);
  @include make-sm-column(7, 10px);
}
.header-col-5 {
  @include make-xs-column(12, 10px);
  @include make-sm-column(5, 10px);
}