<div class="container">
	<div class="row product-single">
		<div class="col-sm-9">
			<div class="row">
				<div class="col-md-5">
					<div class="product-image">
						<a href="#"><img src="{{product.image}}" class="img-responsive"></a>
					</div>
				</div>
				<div class="col-md-7">
					<div class="product-info">
						<h1 class="title">{{product.name}}</h1>
						<div class="price">
					    <!-- @TODO: separate price into decimal -->
					    <span class="amount"><sup>$</sup>{{product.price}}<sup>00</sup></span>
					    <!-- <span class="label">On Sale</span> -->
					  </div>
					  	<div ng-show='notEnoughReviews'>
					  		<span> Be the first to leave a review below! </span>
					  	</div>
						<div class="reviews" ng-show='!notEnoughReviews'>
							Avg customer rating:
						  <span class="stars">
						    <i class="fa fa-star" ng-repeat='i in getNumber(avgRating) track by $index'></i>
						  </span>
						  <span class="number">25 Reviews</span>
						</div>
						<form class="form-inline add-to-cart">
							<div class="form-group">
								<label for="quantity">Quantity:</label>
								<input type="text" class="form-control quantity-control" id="quantity" placeholder="1">
							</div>
							<div class="form-group">
								<button ng-click="addToCart(product)" class="btn btn-primary">Add To Cart</button>
							</div>
						</form>

						<div>
							<p><strong>Product Description:</strong><br>
							{{product.description}}</p>
						</div>
						<hr>
						<ul class="product-meta">
							<li><span><i class="fa fa-search"></i>Product ID:</span> {{product.id}}</li>
							<li><span><i class="fa fa-th-list"></i>Category:</span> <a href="#">{{product.category.name}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div>
				<button ng-show='user && !showReviewForm' ng-click='showReviewForm = !showReviewForm' class='btn btn-primary'>Add Review</button>
				<div class='panel'>	
					<form name='form' ng-show='showReviewForm' ng-submit='addReview(product)'>
						<input required ng-model='review' class='form-control' placeholder='Add your review here' />
						<span uib-rating ng-model='rate' max='max'></span>
						<button ng-disabled='form.$invalid' class='btn btn-success' type='submit'> Submit </button>
						<button type='button' class='btn btn-danger' ng-click='showReviewForm = !showReviewForm'>Cancel</button>
					</form>
				</div>

				<ul class='list-group'>
					<li class='list-group-item' ng-repeat='review in product.reviews'>
						<div class='panel'>
							<div class='panel-heading'>
								<span class="stars panel-title"> 
									<i class="fa fa-star" ng-repeat='i in getNumber(review.rating) track by $index'></i>
								</span>
							</div>
							<div class='panel-body'>
								{{review.review}}
							</div>
						</div>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>
