<div class="container">

	<div class="section-header">
		<h1 class="title text-center">Shipping Address</h1>
	</div>
	<a href="#" editable-text="user.shipping_address" onaftersave="updateShippingAddress(user.shipping_address)">
		{{ user.shipping_address}}
	</a>
	<br>

	<div class="section-header">
		<h1 class="title text-center">Billing Address</h1>
	</div>
	<a href="#" editable-text="user.billing_address" onaftersave="updateBillingAddress()">
		{{ user.billing_address }}
	</a>
	<br>

	<div class="section-header">
		<h1 class="title text-center">Payment Method</h1>
	</div>
	<div class="input-group">
		Card Number <input type="text"></input>
		Name on Card <input type="text" value="{{ user.name }}"></input>
		Expiration Date <input type="text" placeholder="MM/YYYY"></input>
	</div>
	<br>


	  <div class="row">
	    <div class="col-md-12">
	      <div class="section-header">
	        <h1 class="title text-center">Review Order</h1>
	      </div>

			<cart></cart>

	        <div class="checkout-button">
	          <a ng-click="updateOrderStatus(cart.id)" class="btn btn-primary btn-block">Place Your Order</a>
	        </div>
	      </div>
	      <div ng-if="!lineItems[0]" class="well">
	        <p class="no-cart">Nothing in your shopping cart.</h3>
	      </div>
	    </div>
	  </div>

</div>
