<div class="container">
    <a ui-sref="home" class="logo">
        StackStore
    </a>
    <div class="header-right">
      <div class="meta-links">
          Free shipping on orders over $50.
          <span ng-if="!user"><a ui-sref="login">Sign in</a> or <a ui-sref="register">Create an Account</a></span>
          <span ng-if="user"><a ui-sref="user">{{user.name}}</a> or <a ng-click="logout()">Logout</a></span>
      </div>
      <div class="header-row">
        <div class="header-col-7">
          <form class="search" ng-submit='search()'>
            <input ng-model='searchTerm' type="search" placeholder="Search all products...">
            <button type="submit" class="submit">
              <i class="icon icon-magnifying-glass"></i>
            </button>
          </form>
        </div>
        <div class="header-col-5">
          <a ui-sref="cart" ui-sref-opts="{reload:true}" class="btn btn-cart btn-block"><i class="icon icon-shopping-cart"></i>Cart({{lineItems.length}})</a>
        </div>
      </div>
    </div>
</div>